.list {
  margin: 0 auto 20px auto;
  max-width: 600px;
  height: auto;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

/* .listItem {}
 */
